[user]
    name = Carlos Lima
[color]
    ui = true
[alias]
    rebaseme  = rebase --preserve-merges HEAD@{upstream}
    pushme    = push --set-upstream origin HEAD
    watch     = log --graph --source --date-order --since='1 week ago' --all
    watchthis = log --graph --source --date-order --since='1 week ago'
[core]
    excludesfile = ~/.gitignore

